.QuoteListTable-main-wrapper {
    .filter-wrapper {
        margin: 0;
    }

    .table-container.selectable-table {
        padding: 0.5rem;
        border: 1px dashed rgba(0, 0, 0, 0.5);
        border-radius: 0.25rem;
        margin: 1rem 0;
    }

    .rdt_Table {
        p {
            margin: 0 !important;
        }

        .table-row-custom {
            input[type='number'] {
                width: 100%;
            }
        }
    }
}

.main-form{
    position: relative;

    .response-message-container{
        padding: 0.5rem;
        border-radius: 0.25rem;
        
        &.success{
            background: #9dff9d;

            p{
                color: green;
            }
        }
        
        &.error{
            background: #ff9d9d;

            p{
                color: #7a0000;
            }
        }

        p{
            margin: 0;
            text-align: center;
        }
    }

    .loader_wrapper {
        position: absolute;
        min-width: 100%;
        height: 100%;
        display: flex;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.2);

        .loader {
            width: 50px;
            padding: 8px;
            aspect-ratio: 1;
            border-radius: 50%;
            background: #65438f;
            --_m:
                conic-gradient(#0000 10%, #000),
                linear-gradient(#000 0 0) content-box;
            -webkit-mask: var(--_m);
            mask: var(--_m);
            -webkit-mask-composite: source-out;
            mask-composite: subtract;
            animation: l3 1s infinite linear;
        }
    
        @keyframes l3 {
            to {
                transform: rotate(1turn)
            }
        }
    }
}

@media only screen and (max-width: 85.365rem) {
    .QuoteListTable-main-wrapper {
        .rdt_Table {
            .rdt_TableBody {
                .rdt_TableRow {
                    max-height: 3.75rem !important;

                    &.active {
                        max-height: 62.5rem !important;
                    }
                }
            }
        }
    }
}

.view-quote-wrapper{
    .shop_table.order_details{
        tbody{
            tr.order_item{
                td{
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    a{
                        &:first-child{
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
}