#woocommerce-catalog *{
    box-sizing: border-box;
}
#woocommerce-catalog .noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#woocommerce-catalog #loader-after-sumitting-the-form {
	display:none;
}
.catalog_enquiry_form{
    display:none;
}

#woocommerce-catalog .modal-content{
	background-color: #fdfdfe;
	margin: auto;
    padding: 0;
    border-radius:0.5rem;
    width: 600px;
    max-width: 90%;
	position: absolute;
  	left: 50%;
  	top: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow: auto;
    text-align: left;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border: 0.06rem solid #ece8f1;
}

/* The Close Button */
#woocommerce-catalog .modal-header button.close {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: 0;
    -webkit-appearance: none;
    margin: 0;
    font-size: 2rem;
    color: #181718;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
} 
/* modla header */
#woocommerce-catalog .modal-content .modal-header {
    padding: 2rem;
    border-bottom: 0.06rem solid #ece8f1;
    position: relative;
}
#woocommerce-catalog .modal-header h2{
    margin: 0;
    font-size: 18px;
    width: calc(100% - 30px);
}

/* modla body */ 
#woocommerce-catalog .modal-body input[type="file"]{
    width: auto;
    height: auto;
    max-width: 100%;
}
#woocommerce-catalog .modal-content .modal-body{
    overflow: auto;
    margin: 0;
    width: 100%;
    padding: 1rem 2rem;
} 
#woocommerce-catalog .cat-form-row input, #woocommerce-catalog .cat-form-row select, #woocommerce-catalog .cat-form-row textarea{
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    margin: 0;
    border: 0.06rem solid #ece8f1;
    box-shadow: none;
    color: #8e8b91;
    width: 100%;
    background: #f2eff5;
    border-radius: 2rem;
    height: 2.5rem;
}
#woocommerce-catalog .cat-form-row input:focus, #woocommerce-catalog .cat-form-row select:focus, #woocommerce-catalog .cat-form-row textarea:focus{
    border: 0.06rem solid #e35047;
    outline: 0;
    background: #fdfdfb;
    color: #181718;
    box-shadow: 0 0 0.625rem 0 rgb(233 102 86 / 20%);
}
#woocommerce-catalog .cat-form-row textarea{
    height: 100px;
}
#woocommerce-catalog p:empty {
    display: none;
}
#woocommerce-catalog p{
    margin: 0 0 7px;
    line-height: 1.2;
} 
#woocommerce-catalog .cat-form-row{
    position: relative;
}
#woocommerce-catalog .cat-form-row label{
    margin: 0 0 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #181718;
    display: inline-block;
}
#woocommerce-catalog .cat-form-row{
    margin: 0 0 1rem;
}
#woocommerce-catalog p.catalog-enquiry-top-content, #woocommerce-catalog p.catalog-enquiry-bottom-content{
    margin: 0 0 20px;
    font-size: 15px;
    line-height: 18px;
    color: #313131;
}
#woocommerce-catalog p.catalog-enquiry-bottom-content{
    margin: 20px 0;
}
#woocommerce-catalog .captcha-wrap{
    background:#000; 
    color:#fff; 
    border:1px solid #333; 
    padding:5px; 
    letter-spacing: 5px; 
    font-size:18px;
    display: inline-block;
    vertical-align: middle;
}
#woocommerce-catalog .woocommerce-catalog-enquiry-btn{
    float: none;
    width: auto;
}
/* modal footer */
#woocommerce-catalog .modal-content .modal-footer {
    background-color: #fbfafc;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    padding: 0.875rem 2rem;
}

#woocommerce-catalog .modal-footer button{
    background-color: #e35047;
    color: #f9f8fb;
    border: 0;
    transition: all 0.3s ease;
    border-radius: 2rem;
    font-weight: 600;
    white-space: nowrap;
    line-height: 1.27;
    padding: 0.62rem 2rem;
}
#woocommerce-catalog .modal-footer button.btn.btn-primary {
    background-color: #65438f;
}
#woocommerce-catalog .modal-footer button.btn.btn-default:hover {
    background-color: #e6635b;
    color: #f9f8fb;
}
#woocommerce-catalog .modal-footer button.btn.btn-primary:hover {
    background-color: #795b9d;
    color: #f9f8fb;
}

@media screen and (max-width:768px){
    #woocommerce-catalog .modal-content .modal-footer{
        text-align: center;
    }
    #woocommerce-catalog .modal-content .modal-footer button{
        padding: 0.5rem 2rem;
    }
    #woocommerce-catalog .modal-content .modal-header {
        padding: 1.5rem;
    }
    #woocommerce-catalog .modal-content .modal-body{
        padding: 1rem 2rem;
    }
    #woocommerce-catalog .modal-header h2{
        font-size: 16px;
    }
    #woocommerce-catalog .cat-form-row label{
        font-size: 14px;
    }

    #woocommerce-catalog .cat-form-row input, #woocommerce-catalog .cat-form-row select, #woocommerce-catalog .cat-form-row textarea{
        height: 33px;
    }
    #woocommerce-catalog .cat-form-row textarea {
        height: 70px;
    }
}
 
/* toogle form */
#woocommerce-catalog .catalog_enquiry_form:focus{
    outline: none;
}
#woocommerce-catalog .catalog_enquiry_form{
    background: #f1f1f1;
    padding: 15px;
    width: 100%;
    margin-top: 15px;
    clear: both;
}
#woocommerce-catalog .catalog_enquiry_form .modal-header h2{
    margin: 0 0 15px;
    width: 100%;
}
#woocommerce-catalog .catalog_enquiry_form .modal-footer button{
    margin: 0;
}
#msg-for-enquiry-error {
    color:#f00; text-align:center;
}
#msg-for-enquiry-sucesss {
    color:#0f0; text-align:center;
}
#loader-after-sumitting-the-form {
    text-align:center;
}