@import '/src/components/config.scss';

.quote-img {
    background-image: url("../../assets/images/quote-page-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: 100vh;
  }

.admin-subscriber-list {
    .admin-page-title {

        .add-to-quotation-button{
            margin-left: auto;
        }

        .download-btn-subscriber-list, .add-to-quotation-button {
            border-radius: 0.25rem;
            background-color: $color-active;
            padding: 0.5rem 1rem;

            a {
                color: $color-white;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                text-decoration: none;

                .dashicons-before {
                    &::before {
                        padding: 0;
                    }
                }
            }
        }


    }

    
    .selectable-table {
        .wrap-bulk-all-date{

            &>div{
                max-width: 13rem;
            }
            .filter-left-wrapper{
                margin-left: auto;
            }
        }
        .admin-table-wrapper-filter {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 0.875rem;
            gap: 0.5rem;
            flex-wrap: wrap;
            margin-bottom: 0.75rem;

            &>div {
                cursor: pointer;

                &:hover {
                    color: $color-active;
                }
            }
        }
    }

    .rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell{
        height: 4.25rem;
        a{
            color: #522c81;
        }
    }
}

@media only screen and (max-width: 32.125rem) {
    .admin-subscriber-list {
        .admin-page-title {
            justify-content: flex-start; 
            p {
                width: 100%;
            }
    
            .add-to-quotation-button{
                margin-left: 0;
            }
        }
        .selectable-table {
            .filter-wrapper{
                .wrap-bulk-all-date{
                    max-width: 100%;
    
                    &>div{
                        max-width: 100%;
                    }
    
                    .filter-left-wrapper{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}