$menu-btn-color: #522c81;
$body-background: #f9f9f9;
$color-white: #fff;
$menu-color: #f9f8fb;
$color-active: #65438f;


.free-reports-download-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: column;

    .section-heading {
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: 400;
        text-align: center;
    }

    button {
        display: block;
        margin-right: 1rem;
        padding: 0.504rem 1.26rem 0.63rem;
        font-size: 1.008rem;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        background-color: $color-active;
        border-radius: 0.315rem;
        position: relative;
        overflow: hidden;

        a {
            color: #fff;
        }

        &:hover {
            &::before {
                transform: perspective(0.315rem) rotateX(0) rotateY(0);
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            transform: perspective(0.315rem) rotateX(2deg) rotateY(2deg);
            transition: transform 0.3s;
            pointer-events: none;
        }
    }

    .description {
        text-align: center;
        font-size: 0.875rem;
    }
}


.admin-subscriber-list {
    .admin-page-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.75rem;
        position: relative;
        gap: 0.5rem;
        flex-wrap: wrap;

        p {
            font-size: 1.5rem;
        }

        .add-to-quotation-button{
            margin-left: auto;
        }

        .download-btn-subscriber-list, .add-to-quotation-button {
            border-radius: 0.25rem;
            background-color: $color-active;
            padding: 0.5rem 1rem;

            a {
                color: $color-white;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                text-decoration: none;

                .dashicons-before {
                    &::before {
                        padding: 0;
                    }
                }
            }
        }


    }

    
    .selectable-table {
        .filter-wrapper{
            .wrap-bulk-all-date{
                max-width: 100%;

                &>div{
                    max-width: 13rem;
                }

                .filter-left-wrapper{
                    margin-left: auto;
                }
            }
        }
        .admin-table-wrapper-filter {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 0.875rem;
            gap: 0.5rem;
            flex-wrap: wrap;
            margin-bottom: 0.75rem;

            &>div {
                cursor: pointer;

                &:hover {
                    color: $color-active;
                }
            }
        }
    }

    .subscriber-bulk-action {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;

        label {
            font-size: 0.875rem;
            width: 8.19rem;
        }

        select {
            max-width: 9.45rem;
            width: 100%;
            padding: 0.25rem 0.5rem;
            background-color: transparent !important;
            border: 0.115rem solid rgba(0, 0, 0, 0.125) !important;
            border-radius: 0.25rem !important;
            color: rgb(44, 51, 56);

            &:focus {
                box-shadow: none;
            }
        }

        button {
            border-radius: 0.25rem;
            background-color: #65438f;
            padding: 0.65rem 1.5rem;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    .rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell{
        height: 68px;
        a{
            color: #522c81;
        }
    }
}

@media only screen and (max-width: 85.365rem) {
    .rdt_Table {
        .rdt_TableBody {
            .rdt_TableRow {
                .rdt_TableCell {
                    .table-row-custom {
                        &:nth-child(2) {}
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 514px) {
    .admin-subscriber-list {
        .admin-page-title {
            justify-content: flex-start; 
            p {
                width: 100%;
            }
    
            .add-to-quotation-button{
                margin-left: 0;
            }
        }
        .selectable-table {
            .filter-wrapper{
                .wrap-bulk-all-date{
                    max-width: 100%;
    
                    &>div{
                        max-width: 100%;
                    }
    
                    .filter-left-wrapper{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}