$menu-btn-color: #522c81;
$body-background: #f9f9f9;
$color-white: #fff;
$menu-color: #f9f8fb;
$color-active: #65438f;

ul.products{
    li.product{
        .catalog-add-to-quote {
            margin-bottom: .236em;
        }
    }
}

.product-list-table-main-wrapper{
    .admin-page-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.75rem;
        position: relative;
        gap: 0.5rem;
        flex-wrap: wrap;

        p {
            font-size: 1.5rem;
        }

        .add-to-quotation-button {
            
            button {
                border-radius: 0.25rem;
                background-color: $color-active;
                padding: 0.5rem 1rem;
                color: $color-white;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                text-decoration: none;
            }
        }
    }

    p{
        margin: 0;
    }

    .action-section{
        input{
            width: 100%;
        }
    }
    .filter-wrapper {
        .wrap-bulk-all-date{
            max-width: 100%;

            &>div{
                max-width: 11rem;
            }
        }
    }

    .searchField{
        margin-left: auto;
    }
}

@media screen and (max-width: 575px) {
    .product-list-table-main-wrapper{
        .filter-wrapper {
            .wrap-bulk-all-date{
                max-width: 100%;
    
                &>div{
                    max-width: 100%;
                }
            }
        }
    }
}